# 1. Download TM1 raw file

In [8]:
import pandas as pd
import os

os.chdir(r'C:\Users\r.christianto\MyPython\TM1BackUp')
filetype = 'TM1'
#df = pd.read_csv('Timesheet.csv',parse_dates = ['Start Date','Approved Date','Filled Date'],dayfirst=True)
df = pd.read_csv('TM1.csv')


if filetype == 'PNL':
    df.columns = ['Cube','Version','Period','Company','Account','CostCentre','Brand','Currency','Type','Amount']
    mycube = 'pnlcube2'
    for i in ['Account','CostCentre','Company']:
        df[i] = df[i].astype('str')
elif filetype == 'FA':   
    df.columns = ['Cube','Version','Period','Company','Centre','Brand','Desc1','AssetNo','Desc2','Amount']
    mycube = 'fixedasset'
elif filetype == 'XeroHier':
    df.columns = ['XeroAcct','L1','L2','L3','L4','L5','L6','L7','L8','L9','L10','Type']
    df.fillna('',inplace=True)
    mycube = 'xerohier'
elif filetype == 'ClinicMap':
    df.columns = ['ClinicNames','ClinicCodes','Code-Name','Country']
    df.fillna('',inplace=True)
    mycube = 'clinicmap'
elif filetype == 'Xero':
    df.columns = ['Cube','Version','Period','Clinic','Account','Currency','Measure','Amount']
    df.fillna('',inplace=True)
    mycube = 'xerofy22'
elif filetype == 'XeroSource':
    mycube = 'xeroapi'
elif filetype == 'TM1':
    mycube = 'tm1load'



df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18346 entries, 0 to 18345
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   XRO_Clinic   18346 non-null  object
 1   XRO_Account  18346 non-null  object
 2   Amount       18346 non-null  float64
dtypes: float64(1), object(2)
memory usage: 430.1+ KB

# 2. Fast export to MYSQL

In [9]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="lca"
uname="root"
pwd="Ronchi1989!"


# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql(mycube, engine, if_exists = 'replace', index=False)
# option for if_exist >>>>> {‘fail’, ‘replace’, ‘append’}

c:\Users\r.christianto\Anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'TM1load' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

18346

:

# Read from MYSQL to DF

In [6]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="lca"
uname="root"
pwd="Ronchi1989!"


# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))

In [9]:

SQL = '''

select 
* from vpnl


'''


con = engine.connect()
frame = pd.read_sql(SQL,con)

#df = pd.pivot_table(frame,index=['Cube','Version'],columns=['Period'],values=['Amount'], aggfunc = lambda x:x.sum())
#df.dropna(inplace=True)

In [4]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16479 entries, 0 to 16478
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   period      16479 non-null  object
 1   parent      16479 non-null  object
 2   child       16479 non-null  object
 3   brand       16479 non-null  object
 4   costcentre  16479 non-null  object
 5   version     16479 non-null  object
 6   Amount      16479 non-null  float64
dtypes: float64(1), object(6)
memory usage: 901.3+ KB

In [10]:
import os
os.chdir(r'C:\Users\r.christianto\MyPython\TM1MYSQL\DataLatest')
frame.to_excel('PNL.xlsx',index=False)

In [6]:
df = pd.read_csv('test.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2887 entries, 0 to 2886
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2887 non-null   object
 1   Amount       2887 non-null   float64
 2   Description  2887 non-null   object
 3   Balance      0 non-null      float64
dtypes: float64(2), object(2)
memory usage: 90.3+ KB

In [8]:
import os
os.chdir(r'C:\tmp')

frame.to_csv('xero.csv',index=False)

# Using mysql connector to do other ETL

In [43]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ronchi1989!",
  database="lca"
)

mycursor = mydb.cursor()

In [ ]:
sql = "drop view vxerocsv"

mycursor.execute(sql)