# 1. Download TM1 raw file

In [6]:
import pandas as pd
import os

os.chdir(r'C:\Users\r.christianto\MyPython\TM1BackUp')
filetype = 'PNL'
#df = pd.read_csv('Timesheet.csv',parse_dates = ['Start Date','Approved Date','Filled Date'],dayfirst=True)
df = pd.read_csv('newpnl.cma')


if filetype == 'PNL':
    df.columns = ['Cube','Version','Period','Company','Account','CostCentre','Brand','Currency','Type','Amount']
    mycube = 'pnlcube2'
    for i in ['Account','CostCentre','Company']:
        df[i] = df[i].astype('str')
elif filetype == 'FA':   
    df.columns = ['Cube','Version','Period','Company','Centre','Brand','Desc1','AssetNo','Desc2','Amount']
    mycube = 'fixedasset'
elif filetype == 'XeroHier':
    df.columns = ['XeroAcct','L1','L2','L3','L4','L5','L6','L7','L8','L9','L10','Type']
    df.fillna('',inplace=True)
    mycube = 'xerohier'
elif filetype == 'ClinicMap':
    df.columns = ['ClinicNames','ClinicCodes','Code-Name']
    df.fillna('',inplace=True)
    mycube = 'clinicmap'

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490235 entries, 0 to 490234
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Cube        490235 non-null  object
 1   Version     490235 non-null  object
 2   Period      490235 non-null  object
 3   Company     490235 non-null  object
 4   Account     490235 non-null  object
 5   CostCentre  490235 non-null  object
 6   Brand       490235 non-null  object
 7   Currency    490235 non-null  object
 8   Type        490235 non-null  object
 9   Amount      490235 non-null  float64
dtypes: float64(1), object(9)
memory usage: 37.4+ MB

# 2. Fast export to MYSQL

In [7]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="lca"
uname="root"
pwd="Ronchi1989!"


# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))

# Convert dataframe to sql table                                   
df.to_sql(mycube, engine, if_exists = 'replace', index=False)
# option for if_exist >>>>> {‘fail’, ‘replace’, ‘append’}

# Read from MYSQL to DF

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Credentials to database connection
hostname="localhost"
dbname="pribadi"
uname="root"
pwd="Ronchi1989!"


# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))

In [2]:

SQL = '''

select * from cbacard


'''


con = engine.connect()
frame = pd.read_sql(SQL,con)

#df = pd.pivot_table(frame,index=['Cube','Version'],columns=['Period'],values=['Amount'], aggfunc = lambda x:x.sum())
#df.dropna(inplace=True)

In [3]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2887 entries, 0 to 2886
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2887 non-null   datetime64[ns]
 1   Amount       2887 non-null   float64
 2   Description  2887 non-null   object
 3   Balance      0 non-null      object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 90.3+ KB

In [4]:
frame.to_csv('test.csv',index=False)

In [6]:
df = pd.read_csv('test.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2887 entries, 0 to 2886
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2887 non-null   object
 1   Amount       2887 non-null   float64
 2   Description  2887 non-null   object
 3   Balance      0 non-null      float64
dtypes: float64(2), object(2)
memory usage: 90.3+ KB

In [8]:
import os
os.chdir(r'C:\tmp')

frame.to_csv('xero.csv',index=False)

# Using mysql connector to do other ETL

In [43]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Ronchi1989!",
  database="lca"
)

mycursor = mydb.cursor()

In [ ]:
sql = "drop view vxerocsv"

mycursor.execute(sql)