# my first code reading text file, no longer needed since you can just use read_csv

In [ ]:
# https://pythonexamples.org/python-read-text-file-line-by-line/#:~:text=There%20are%20many%20ways%20to%20read%20a%20text,or%20calling%20a%20function%20on%20the%20file%20object.

In [85]:

import os
import pandas as pd
os.chdir(r'P:\Shared Documents\Finance Systems\Xero Project')

# read the text file
f = open(r'P:\Shared Documents\Finance Systems\Automation\Xero\TBTest.txt','r')

# put to a list and replace Ltd to Limited
uk = []

# write header
#a = f.readline()
#uk.append(a)

for i in f:
    a = f.readline()
    print (a)
    if 'LCUK' in a:
        a = a.replace('Ltd','Limited')
        a = a.replace('\n','')
        #print (a)
        uk.append(a)
    else:
        a = a.replace('\n','')
        #print (a)
        uk.append(a)

# put it back to text file called list
F = open('list.txt', 'w')

for i in uk:
    F.write(str(i) + "\n")
 
# Close the file
F.close()

2021-10-31;LCA Elizabeth Pty Limited;Revenue;41000;Earned Revenue;;154983.94;;626644.45

2021-10-31;LCUK Bromley Ltd;Expenses;496;Advertising Levy;1044.64;;4035.18;

In [103]:
import os
import pandas as pd
os.chdir(r'P:\Shared Documents\Finance Systems\Automation\Xero')

# read the text file
f = open(r'P:\Shared Documents\Finance Systems\Automation\Xero\TBTest.txt','r')


while(True):
    line = f.readline()
    
    if not line:
        break
    print (line.strip())

f.close

Date;XeroOrganisation,SectionName;AccountCode;AccountName;Debit;Credit;YTD Debit;YTD Credit
2021-10-31;LCA Elizabeth Pty Limited;Revenue;41000;Earned Revenue;;154983.94;;626644.45
2021-10-31;LCA Elizabeth Pty Limited;Revenue;81000;Interest Income;;0.84;;3.35
2021-10-31;LCUK Bromley Ltd;Expenses;496;Advertising Levy;1044.64;;4035.18;
2021-10-31;LCUK Bromley Ltd;Expenses;401;Audit & Accountancy fees;685.83;;2578.32;

In [105]:
import os
import pandas as pd
os.chdir(r'P:\Shared Documents\Finance Systems\Automation\Xero')

# read the text file
f = open(r'P:\Shared Documents\Finance Systems\Automation\Xero\TBTest.txt','r')


x = f.readlines()

In [110]:
pd.DataFrame(x)

                                                   0
0  Date;XeroOrganisation,SectionName;AccountCode;...
1  2021-10-31;LCA Elizabeth Pty Limited;Revenue;4...
2  2021-10-31;LCA Elizabeth Pty Limited;Revenue;8...
3  2021-10-31;LCUK Bromley Ltd;Expenses;496;Adver...
4  2021-10-31;LCUK Bromley Ltd;Expenses;401;Audit...

In [97]:
#get file object
file1 = open("sample.txt", "r")

while(True):
	#read next line
	line = file1.readline()
	#check if line is not null
	if not line:
		break
	#you can access the line
	print(line.strip())

#close file
file1.close

'2021-10-31;LCUK Bromley Ltd;Expenses;401;Audit & Accountancy fees;685.83;;2578.32;\n'

# Read using pandas csv

In [7]:
import os
import pandas as pd
os.chdir(r'P:\Shared Documents\Finance Systems\Xero Project')

df = pd.read_csv('XEROText.txt',sep=';',skiprows=[0],header=None)
df.columns = ['Date', 'XeroOrganisation' ,' SectionName', 'AccountCode', 'AccountName',
       'Debit', 'Credit', 'YTD Debit', 'YTD Credit']

df.shape

(15303, 9)

In [9]:
df.to_csv('Xero.csv',index=False)

In [78]:
import snowflake.connector
import pandas as pd
import numpy as np
ctx = snowflake.connector.connect(
    account = 'xb05962.australia-east.azure',
    user = 'Ronnyc',
    password = 'Ronchi1989',
    warehouse = 'FINANCE',
    database = 'FINANCE_TEAM',
    schema = 'PUBLIC'
)
cur = ctx.cursor()

In [79]:
### Load csv files start with test*
### Oke needs to check this again..... 

cur.execute("PUT file:///tmp/Test* @%Xero")
cur.execute("COPY INTO Xero")

ProgrammingError: 100080 (22000): Number of columns in file (8) does not match that of the corresponding table (9), use file format option error_on_column_count_mismatch=false to ignore this error
  File '@XERO/Test.csv.gz', line 2, character 1
  Row 1 starts at line 1, column "XERO"["YTD_DR":8]
  If you would like to continue loading when an error is encountered, use other values such as 'SKIP_FILE' or 'CONTINUE' for the ON_ERROR option. For more information on loading options, please run 'info loading_data' in a SQL client.